* {
    box-sizing: border-box;
}

ul {
    font-size: 1.5em;
    font-family: ralewayLight;
    padding: 0;
    text-align: left;
}


html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #515151 url('../assets/images/7.rawpixel-com-567028-unsplash.jpg') repeat-x center top;
    color: white;
}

.home {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 8%;
    text-align: center;
    font-family: cartoon;
    font-size: 5.3em;
    background: #ffffff url('../assets/images/1.samuel-scrimshaw-76647-unsplash.jpg') no-repeat center top;
    min-height: 700px;
}

.jButton {
    width: 140px;
    height: 64px;
    border: 1px solid white;
    font-family: ralewayLight;
    font-size: 34px;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
    margin: 0px auto;
    margin-bottom: 20px;
}

.jButton:hover {
    background: rgba(220,220,220,0.6);
}

.teamName {
    width: 85%;
    font-size: 4em;
    font-family: orangejuice;
    margin: 80px auto;
}

.lineInput {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 70%;
    margin-left: 26px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.gameboard {
    width: 70%;
    position: relative;
    left: 25%;
    top: 10%;
    height: 80%;
    padding: 6px;
}

.column {
    float: left;
    width: 16%;
    height: 100%;
    padding: 8px;
}


.card {
    width: 100%;
    height: 15%;
    padding: 16px 2px 16px 2px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    font-family: ralewayBold;
    font-size: 28px;
    background: rgba(177,203,187,0.9);
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    background: rgba(177,203,187,1);
}

.card:first-child {
    margin-bottom: 26px;
    background: rgba(97,134,133,0.85);    
    font-size: 16px;
    font-family: latoBold;
    padding-top: 18px;
    cursor: auto;
}

.teamInfo {
    width: 100%;
    height: 45%;
    padding: 6px;
    text-align: center;
    font-size: 2em;
    font-family: orangejuice;
    margin-bottom: 30px;
    background: url('../assets/images/blackboard.png');
    border: 3px solid #cccccc;
}

.teamInfo div{
    margin-top: 18px;
    font-size: 2.3em;
    font-family: journal;
}

.side {
    position: absolute;
    left: 20px;
    width: 20%;
    top: 10%;
    bottom: 10%;
}

.questionTitle {
    font-size: 2em;
    font-family: seaFont;
}

.questionContent {
    font-size: 2.7em;
    font-family: ralewayBold;
    margin: 50px 0 40px 0;
    text-align: center;
}

.optionButton {
    font-family: lato;
    font-size: 24px;
    border: 2px solid white;
    margin: 10px auto;
    max-width: 350px;
    min-height: 60px;
    text-align: center;
    padding: 10px 6px 10px 6px;
    cursor: pointer;
}

.optionButton:hover {
    background: rgba(220,220,220,0.6);
}

.resultPage {
    padding-top: 80px;
    font-size: 3em;
    font-family: latoBold;
    text-align: center;
}

.resultPage div:first-child{
    margin-bottom: 80px;
}

.timer {
    font-family: lato;
    font-size: 1em;
    margin: 3px;
    color: bisque;
}

.home .jButton {
    width: 260px;
}

a {
    color: white;
    text-decoration: none;
}

.mainContainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    min-width: 980px;
    min-height: 700px;
}
