* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #515151 url('../assets/images/7.rawpixel-com-567028-unsplash.jpg') no-repeat center top;
    color: white;
}

.home {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 200px;
    text-align: center;
    font-family: cartoon;
    font-size: 5em;
    background: #515151 url('../assets/images/1.samuel-scrimshaw-76647-unsplash.jpg') no-repeat center top;
}

.jButton {
    width: 180px;
    height: 80px;
    border: 2px solid white;
    font-family: latoHairline;
    font-size: 40px;
    text-align: center;
    padding-top: 16px;
    cursor: pointer;
    margin: 50px auto;
}

.teamName {
    width: 700px;
    font-size: 3em;
    font-family: orangejuice;
    margin: 100px auto;
}

.lineInput {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 400px;
    margin-left: 26px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.gameboard {
    width: 840px;
    position: relative;
    left: 420px;
    top: 50px;
}

.categoryNames {
    width: 100%;
    height: 90px;
    text-align: center;
}

.categoryNames div
{
    float: left;
    margin: 10px;
}

.questions {
    width: 100%;
}

.column {
    float: left;
    width: 140px;
    margin: 10px;
}

.column .card {
    cursor: pointer;
    margin-bottom: 16px;
    font-family: raleway;
    font-size: 28px;
    background: rgba(177,203,187,0.85);
    
}

.card {
    width: 140px;
    height: 78px;
    background: rgba(97,134,133,0.85);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    text-align: center;
    padding: 18px;
    font-size: 18px;
    font-family: ralewayBold;
}

.column .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    background: rgba(177,203,187,0.95);
}

.teamInfo {
    width: 313px;
    height: 110px;
    text-align: center;
    font-size: 2em;
    font-family: orangejuice;
    margin-bottom: 60px;;
    background: url('../assets/images/blackboard.png');
    border: 3px solid #cccccc;
}



.side {
    position: absolute;
    left: 20px;
    top: 60px;
}
