<div class="mainContainer">
    <div class="side">
        <div ng-repeat="t in $ctrl.teams" class="teamInfo">
            <span>{{t.name}}</span>
            <div>{{t.score}}</div>
        </div>
    </div>
    <div class="gameboard" >
        <div ng-repeat="con in $ctrl.content" class="column" ng-if="!$ctrl.currentQuestion">
            <div ng-repeat="q in con.questions" class="card" ng-click="$ctrl.showQuestion($index,q)">
                <span ng-show="!q.answered">{{q.label}}</span>
            </div>
        </div>
        <question ng-if="$ctrl.currentQuestion" question="$ctrl.currentQuestion" 
              team="$ctrl.teamOnPlay" finish-question="$ctrl.finishQuestion()"></question>
    </div>
    

</div>

