<div class="mainContainer">
    <div class="side">
        <div ng-repeat="t in $ctrl.teams" class="teamInfo">
            <p class="timer" ng-if="$ctrl.currentTeam === $index">
                <i class="icon ion-clock"></i>
                {{$ctrl.countDown}}
            </p>
            <span>{{t.name}}</span>
            <div>{{t.score}}</div>
        </div>
    </div>
    <div class="gameboard" >
        <div ng-repeat="con in $ctrl.content" class="column" ng-if="!$ctrl.currentQuestion">
            <div ng-repeat="q in con.questions" class="card" ng-click="$ctrl.showQuestion($index,q)">
                <span ng-show="!q.answered">{{q.label}}</span>
            </div>
        </div>
        <question ng-if="$ctrl.currentQuestion" question="$ctrl.currentQuestion" 
                team="$ctrl.teamOnPlay" finish-question="$ctrl.finishQuestion()"
                  steal="$ctrl.steal()" stop-timer="$ctrl.stopTimer()"></question>
    </div>
    

</div>

