

    <div ng-if="!$ctrl.tempEndGame && !$ctrl.resultMessage">
        <span class="questionTitle">{{$ctrl.question.category}} {{$ctrl.question.points}}</span>
        <div class="questionContent" ng-class="{'small':$ctrl.question.question.length>100}">{{$ctrl.question.question}}</div>
    
        <div class="optionButton"  ng-class="{'small':o.option.length > 25}"
             ng-repeat="o in $ctrl.question.answer" ng-click="$ctrl.answer(o.points)">
            {{o.option}}
        </div>
    </div>  
   

    <div ng-if="$ctrl.tempEndGame" class="resultPage">
        <div ng-if="!$ctrl.notime">Wrong Answer</div>
        <div ng-if="$ctrl.notime">Time's Up</div>
        <div ng-click="$ctrl.decide('steal')" class="optionButton">STEAL </div> 
        <div ng-click="$ctrl.decide('pass')" class="optionButton">PASS</div>
        <div ng-click="$ctrl.goBack()" class="optionButton">GO BACK</div>
    </div>
    
    <div class="resultPage" ng-if="$ctrl.resultMessage">
        <div>{{$ctrl.resultMessage}}</div>
        <div ng-click="$ctrl.finishQuestion()" class="optionButton">OK</div>
    </div>
